:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
    --text-color: rgb(7, 5, 68);
    --label-color: rgb(75, 102, 98);
    --placeholder-color: rgb(136, 136, 153);
    --offset-color: rgb(217, 236, 217);
    --action-color: rgb(77, 132, 252);
}

p.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: green;
}

.page-header {
    position: static;
    top: 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header.page-header {
    margin: 8px;
    padding: 5px;
}

.page-header .title {
    font-size: 1.2em;
    font-weight: 800;
}

.page-header nav {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

main {
    padding: 20px;
    background: rgb(5,149,5);
    background: linear-gradient(90deg, rgba(5,149,5,1) 0%, rgba(189,17,17,1) 28%, rgba(255,0,0,1) 100%);
    text-align: center;
    
}

footer {
    position: fixed;
    bottom: 0;
    padding: 7px 20px;
    font-size: 0.8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
    box-shadow: box-shadow -7px 5px 12px 0px rgba(0,0,0,0.34);
    -webkit-box-shadow: -7px 5px 12px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: -7px 5px 12px 0px rgba(0,0,0,0.34);
}
}

img.logo {
    width: 171px;
    height: 155px;
}

form#chilis-form {
    
    margin: 10px;
    padding: 20px;
    border: 4px black;
    border-style: inset;
    display: grid;
    color: white;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(189,17,17,1) 70%, rgba(5,149,5,1) 100%);
    
    box-shadow: box-shadow -7px 5px 12px 0px rgba(0,0,0,0.34);
    -webkit-box-shadow: -7px 5px 12px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: -7px 5px 12px 0px rgba(0,0,0,0.34);
}

section {
    border: 3px black;
    border-style: dashed;

}

h3 {
    color: white;
    text-decoration: underline;
}

h2 {
    color: white;
    text-decoration: underline;
}

img#spokane-chilis {
    width: 260px;
    height: 200px;
    border: 4px black solid;

}

h6 {
    text-decoration: underline;
    
}
h5 {
    color: black;
    text-decoration: underline;
}
h4 {
    text-decoration: underline;
    color: black;
}

button#add-chilis-comment {
    cursor: pointer;
    text-align: center;
    margin-left: 580px;
   
}

button#add-chilis-button {
    cursor: pointer;
    
}

input#file-upload-button {
    cursor: pointer;
}

